@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@ViewBag.Person.PersonName</h2>
    <table>
        <tr>
            <th><p>ФИО</p></th>
            <td>@ViewBag.Person.PersonName</td>
        </tr>
        <tr>
            <th><p>Вес</p></th>
            <td>@ViewBag.Person.PersonWeight</td>
           
        </tr>
    </table>
</div>
