@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Привіт, @ViewBag.Person.PersonName !</h2>
    <table>
        <tr>
            <th><p>Твоя вага</p></th>
            <td>@ViewBag.Person.PersonWeight</td>
           
        </tr>
    </table>
</div>
