
@{
    ViewBag.Title = "EditPersonEatStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Виберіть блюдо, яке Ви з'їли</h2>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Назва блюда</p></td>
                <td><input type="text" name="PersonEatStoryName" /> </td>
            </tr>
            <tr><td><input type="submit" value="Змінити" /> </td><td></td></tr>
        </table>
    </form>
</div>


