
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Змініть назву продукту</h2>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.ProductID" name="ProductID" />
        <table>
            <tr>
                <td><p>Назва продукту</p></td>
                <td><input type="text" name="ProductName" /> </td>
            </tr>
            <tr>
                <td><p>Калорійність</p></td>
                <td><input type="text" name="Energy" /> </td>
            </tr>
            <tr><td><input type="submit" value="Змінити" /> </td><td></td></tr>
        </table>
    </form>
</div>