
@{
    ViewBag.Title = "CreateDish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Новое блюдо</h2>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Название блюда</p></td>
                <td><input type="text" name="DishName" /> </td>
            </tr>
            <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
        </table>
    </form>
</div>


